@font-face {
	font-family: 'Italian';
	src: url('./fonts/Italian\ Horskey\ Script\ Demo.otf');
}

body {
	background-color: #555;
	color: #aaa;
	margin: 0px;
	display: flex;
	justify-content: space-around;
}

h1 {
	font-family: 'Italian';
	font-size: 50pt;
}

.name {
	font-size: 25pt;
}

#content {
	width: 100vw;
	max-width: 960px;

	background-color: #333;
	margin-top: 40px;
	padding: 0px 10px 10px 10px;
}

.tab:hover {
	cursor: pointer;
}

/* .navbar {
} */

ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 0px;
}

.navbar li {
	background-color: #333;
	padding: 10px 100px;
	margin-top: -30px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
